.header {
  position: fixed;
  top: 0;
  z-index: -1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 96vw;
  height: calc(40vh - 60px);
  padding: 60px 2vw 0;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  .backImage {
    position: fixed;
    top: 0;
    z-index: -2;

    width: 100vw;
    height: 50vh;
    .imageContainer {
      position: relative;

      width: 100%;
      height: 100%;
    }
  }
}

.title {
  overflow: hidden;

  color: var(--color-font_default__above__image);
  font-weight: bold;
  font-size: calc(32px + (100vw - 900px) / 100);
  white-space: nowrap;
  text-overflow: ellipsis;
  @media screen and (max-width: 600px) {
    font-size: 24px;
  }
}
.author {
  color: var(--color-font_default__above__image);
  font-size: 16px;
}

.date {
  color: var(--color-font_default__above__image);
  @media screen and (max-width: 600px) {
    font-size: 16px;
  }
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 40vh;

  background-color: var(--color-background_global);
  .article {
    width: calc(100% - 50px);
    max-width: 1100px;
    padding: 20px 25px 20px;

    box-shadow: var(--shadow-box__article);
    @media screen and (min-width: 1400px) {
      width: calc(100% - 80px);
      padding: 20px 40px 20px;
    }
    .description {
      position: relative;

      display: flex;
      padding: 5px 5px 5px 10px;

      background-color: var(--color-background_blockquote);
      .descLine {
        position: absolute;
        top: 0px;
        left: 0px;

        width: 6px;
        height: 100%;

        background-color: var(--color-describ_blockquote);
      }
    }
  }
}

.index {
  position: sticky;
  top: 80px;

  flex: none;
  width: 240px;
  height: fit-content;
  padding: 20px 15px;
  @media screen and (max-width: 970px) {
    position: static;

    width: 0;
    padding: 0;
    overflow: hidden;
  }
}
html {
  .header {
    .backImage {
      .imageContainer {
        .img_large_dark,
        .img_middle_dark,
        .img_small_dark {
          position: absolute;

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;

          visibility: hidden;
          opacity: 0;

          transition: opacity 0.5s, visibility 0s 0.5s;
        }
        .img_large,
        .img_middle,
        .img_small {
          position: absolute;

          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: 50% 50%;

          visibility: hidden;
          opacity: 1;

          transition: opacity 0.5s, visibility 0s 0.5s;
        }
        @media screen and (max-width: 600px) {
          .img_small {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }

        @media screen and (max-width: 1400px) {
          .img_middle {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }
        @media screen and (min-width: 1400px) {
          .img_large {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}

html[data-theme="dark"] {
  .header {
    .backImage {
      .imageContainer {
        .img_large_dark,
        .img_middle_dark,
        .img_small_dark {
          opacity: 1;

          transition: opacity 0.5s, visibility 0s 0s;
        }
        .img_large,
        .img_middle,
        .img_small &.articleImage_dark {
          opacity: 0;

          transition: opacity 0.5s visibility 0s 0.5s;
        }

        @media screen and (max-width: 600px) {
          .img_small_dark {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }

        @media screen and (max-width: 1400px) {
          .img_middle_dark {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }
        @media screen and (min-width: 1400px) {
          .img_large_dark {
            width: 100%;
            height: 100%;

            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}
