.avatar_50 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.avatar_70 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.avatar_140 {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.avatar_210 {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  img {
    border-radius: 50%;
  }
}

.container {
  width: 100%;
  .background {
    display: flex;
    justify-content: center;
    width: 100%;

    background: var(--color-background-avatar);
    background-size: 500%, 100%;

    transition: all 0.3s;
    animation: shine 10s 0ms infinite both;
  }
  .avatar {
    bottom: 0;

    transform: translateY(var(--offset));
  }
  .activePanel {
    transition: all 0.3s;
    @media screen and (max-width: 970px) {
      width: 100%;

      background: var(--color-background_default);
      &:hover {
        background: var(--color-background_avatar_switch__hover);
        cursor: pointer;
      }
    }
  }
}

@keyframes shine {
  0% {
    background-position: 50% 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 50% 0;
  }
  75% {
    background-position: 0% 0;
  }
  100% {
    background-position: 50% 0;
  }
}
