.container {
  width: calc(100% - 30px);

  max-width: 770px;
  max-height: 185px;
  padding: 15px 15px 0;
  @media screen and (max-width: 600px) {
    height: 125px;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 10px 0;
    @media screen and (max-width: 600px) {
      margin: 0 0 4px 0;
    }

    .articleTitle {
      font-size: 32px;
      font-weight: bold;
      @media screen and (max-width: 600px) {
        font-size: 20px;
      }
    }
    .date {
      font-size: 14px;
      color: #868686;
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 20px 0;
    @media screen and (max-width: 600px) {
      margin: 0;
    }
    .author {
      font-size: 12px;
      color: #868686;
    }
    .description {
      padding: 0 15px;
      display: -webkit-box;
      font-size: 16px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      font-size: 12px;
    }
    .tagList {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    .link a {
      font-size: 14px;
      text-decoration: none;
      color: black;
      &:hover {
        color: -webkit-link;
      }
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
}

.container_withImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 200px;
  @media screen and (max-width: 600px) {
    height: 140px;
  }
  .articleContainer {
    @media screen and (min-width: 800px) {
      width: calc(
        100% - 30px - min(calc(200px + 0.15 * (100vw - 800px)), 300px) - 50px
      );
    }
    .description {
      padding: 0 15px;
      display: -webkit-box;
      font-size: 16px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
      @media screen and (min-width: 800px) {
        height: 66px;
      }
      @media screen and (max-width: 600px) {
        font-size: 12px;
      }
    }
  }
  .image {
    transition: width 0.2s 0.05s;
    display: flex;
    max-width: 300px;
    width: min(calc(200px + 0.15 * (100vw - 800px)), 300px);
    height: 200px;
    overflow: hidden;
    @media screen and (max-width: 800px) {
      width: 0px;
      height: 0px;
    }
  }
}
