.container {
  width: calc(100% - 40px);

  box-shadow: 1px 1px 4px 0 var(--color-shadow_default);
  max-width: 770px;
  padding: 12px 15px 3px;
  min-height: 114px;

  @media screen and (max-width: 700px) {
    min-height: 103px;
  }
  @media screen and (max-width: 500px) {
    min-height: 91px;
  }

  .header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin: 0 0 10px 0;
    @media screen and (max-width: 700px) {
      margin: 0 0 6px 0;
    }
    @media screen and (max-width: 500px) {
      margin: 0 0 4px 0;
    }

    .articleTitle {
      font-size: 1.6rem;
      font-weight: bold;
      @media screen and (max-width: 700px) {
        font-size: 1.4rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 1.25rem;
      }
    }
    .date {
      font-size: 0.875rem;
      color: var(--color-font_default__date);
      @media screen and (max-width: 700px) {
        font-size: 0.8125rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.75rem;
      }
    }
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 0 0 20px 0;
    @media screen and (max-width: 700px) {
      margin: 0;
    }
    .author {
      font-size: 0.75rem;
      color: var(--color-font_default__date);
    }
    .description {
      padding: 5px 15px;
      display: -webkit-box;
      font-size: 1rem;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
      @media screen and (max-width: 500px) {
        font-size: 0.875rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.75rem;
      }
      .defaultDescription {
        color: #a7a6a6;
        font-style: italic;
      }
    }
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    @media screen and (max-width: 700px) {
      font-size: 0.875rem;
    }
    @media screen and (max-width: 500px) {
      font-size: 0.75rem;
    }
    .tagList {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
    .link a {
      font-size: 0.875rem;
      text-decoration: none;
      color: var(--color-font_link__default);
      &:hover {
        color: var(--color-font_link__default__hover);
      }
      @media screen and (max-width: 700px) {
        font-size: 0.875rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.75rem;
      }
    }
  }
}

.container_withImage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  .articleContainer {
    min-height: 185px;
    @media screen and (max-width: 800px) {
      min-height: 114px;
    }
    @media screen and (max-width: 700px) {
      min-height: 103px;
    }
    @media screen and (max-width: 500px) {
      min-height: 91px;
    }
    @media screen and (min-width: 800px) {
      width: calc(
        100% - 30px - min(calc(200px + 0.15 * (100vw - 800px)), 300px) - 50px
      );
    }
    .description {
      padding: 5px 15px;
      display: -webkit-box;
      font-size: 16px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;
      word-break: break-all;
      overflow: hidden;
      @media screen and (min-width: 800px) {
        height: 66px;
      }
      @media screen and (max-width: 700px) {
        font-size: 0.875rem;
      }
      @media screen and (max-width: 500px) {
        font-size: 0.75rem;
      }
    }
  }
  .image {
    position: relative;
    object-fit: contain;
    transition: width 0.2s 0.05s;
    box-shadow: 0px 2px 4px 2px var(--color-shadow_default);
    display: flex;
    max-width: 300px;
    width: min(calc(200px + 0.15 * (100vw - 800px)), 300px);
    height: 200px;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
    @media screen and (max-width: 800px) {
      width: 0px;
      height: 0px;
    }
  }
}
