@use "/styles/ghcolors.scss";
@use "/styles/one-dark.scss";
@use "/styles/dark-mode.scss";
@use "/styles/default-mode.scss";
@use "/styles/artcile-element.scss";

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;

  color: var(--color-font_default);

  background-color: var(--color-background_global);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  background-color: transparent;
}
