@use "/styles/ghcolors.scss";
@use "/styles/one-dark.scss";
@use "/styles/dark-mode.scss";
@use "/styles/default-mode.scss";
@use "/styles/artcile-element.scss";

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;

  color: var(--color-regular);

  background-color: var(--color-background-regular);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;

  background-color: transparent;
}

svg path{
  fill: var(--color-regular);
}
