@use "./one-dark.scss";
@use "./one-light.scss";
@use "./ghcolors.scss";

html {
  scroll-padding-top: 80px;
  scroll-behavior: smooth;
}

.img {
  object-fit: fill;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fdfdfd;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.article-ele-h2,
.article-ele-h3 {
  .article-ele-anchor {
    position: relative;
    color: black;
    text-decoration: none;
  }
}

.article-ele-h2 {
  margin: 20px 0 15px;
  border-bottom: 1px solid #b7b2b2;
  line-height: 36px;
  border: none;
  &::after {
    display: block;
    content: "";
    height: 0.0625rem;
    width: 100%;
    background-color: #eff2f3;
    margin: 0.5rem 0 0;
  }
}

.article-ele-h3 {
  font-size: 1.25em;
  text-indent: 0.2em;
}
.article-ele-h4 {
  font-size: 1.1em;
  text-indent: 0.4em;
}

.article-ele-anchor {
  color: black;
  text-decoration: none;
  &:hover {
    color: #868686;
  }
}

.article-ele-blockquote {
  position: relative;
  padding: 5px 5px 5px 10px;
  background-color: #f0f0f0;
  margin: 15px 10px;
  color: #656d76;
  &::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 6px;
    background-color: #575757;
    height: 100%;
  }

  .article-ele-p {
    padding: 0;
    margin: 0 0.5rem 0;
  }

  .article-ele-anchor {
    color: #656d76;
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-ele-p {
  padding: 0 26px 0;
  margin: 0 0 1rem 0;
  line-height: 1.75rem;
}

.article-ele-ol,
.article-ele-ul {
  padding: 0 0 0 26px;
  @media screen and (max-width: 720px) {
    padding: 0 0 0 20px;
  }
}

.article-ele-li {
  .article-ele-p {
    padding: 0px;
    margin: 0 0 0.75rem 0;
  }
}

.article-ele-table--container {
  position: relative;
  display: flex;
  margin: 20px 0;
  overflow: auto;
}

.article-ele-table {
  width: 100%;
  font-size: 0.875em;
  border-top: 1px solid #dfe2e5;
  border-left: 1px solid #dfe2e5;
  border-spacing: 0;
}

.article-ele-thead .article-ele-tr {
  background-color: #f8f8f8;
}

.article-ele-tr {
  cursor: pointer;
  &:hover {
    background-color: #f0f0f0;
  }
}
.article-ele-tr:nth-child(2n) {
  background-color: #f8f8f8;
  &:hover {
    background-color: #f0f0f0;
  }
}

.article-ele-td,
.article-ele-th {
  max-width: 400px;
  min-width: 100px;
  padding: 0.6em 0.6em;
  border-right: 1px solid #dfe2e5;
  border-bottom: 1px solid #dfe2e5;
  line-height: 2rem;
}

.article-ele-th {
  text-align: center;
  font-size: 0.875rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

pre::-webkit-scrollbar-thumb {
  margin: 2px;
  border-radius: 0.3em;
  background: rgba(0, 0, 0, 0.1);
}

pre::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}
pre {
  overflow-x: auto;
}

html[data-theme="dark"] {
  pre::-webkit-scrollbar-thumb {
    margin: 2px;
    border-radius: 0.3em;
    background: hsla(0, 0%, 100%, 0.3);
  }

  pre::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 100%, 0.5);
  }
  pre {
    overflow-x: auto;
  }
}

/**
 * Inspired by gatsby remark prism - https://www.gatsbyjs.com/plugins/gatsby-remark-prismjs/
 * 1. Make the element just wide enough to fit its content.
 * 2. Always fill the visible space in .code-highlight.
 */
.code-highlight {
  float: left; /* 1 */
  min-width: 100%; /* 2 */
}

.line-number::before {
  display: inline-block;
  width: 1rem;
  text-align: right;
  margin-right: 16px;
  margin-left: -8px;
  color: rgb(156, 163, 175); /* Line number color */
  content: attr(line);
}
.rehype-code-title {
  margin: 0 1.625rem;
  padding: 0.5rem 40px;
  border-radius: 0.3rem 0.3rem 0 0;
  box-shadow:
    3px 0px 2px 0px #efefef,
    -1px 0px 2px 0px #efefef;
  background-color: #f3f3f3;
}

html[data-theme="dark"] {
  &.rehype-code-title {
  }
}
