/*.viewPanel {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 970px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 600px) {
    display: block;
    max-width: 100vw;
    overflow: hidden;
  }
}
*/

.homeContainer {
  width: calc(100vw - max(0px, calc(0.05 * (100vw - 414px))) - 20px);
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: auto;

  transition: transform 0.2s;
  @media screen and (min-width: 970px) {
  }
}

.articleList {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  padding: 10px 0;
}

.sideBar {
  display: flex;
  flex: none;
  flex-direction: column;
  gap: 0.8rem;
  align-items: center;
  width: 300px;
  padding: 10px 10px 10px;

  transition: all 0.2s;
  @media screen and (min-width: 770px) and (max-width: 970px) {
    position: fixed;
    top: 190px;
    right: -100%;
    height: 450px;
    overflow: auto;
    border-radius: var(--radius-cardRadius) 0 0 var(--radius-cardRadius);
    box-shadow: var(--shadow-boxshadow__defaultCardShadow);
    background-color: var(--color-background_global);
    &::-webkit-scrollbar {
      width: 0px;
    }
    &.sideBarShow {
      right: 0px;
    }
  }

  @media screen and (min-width: 600px) and (max-width: 770px) {
    position: fixed;
    top: 180px;
    right: -100%;

    height: 450px;
    overflow: auto;

    background-color: var(--color-background_global);
    border-radius: var(--radius-cardRadius) 0 0 var(--radius-cardRadius);
    box-shadow: var(--shadow-boxshadow__defaultCardShadow);
    box-shadow: 2px 2px 4px 2px var(--color-shadow_default);
    &::-webkit-scrollbar {
      width: 0px;
    }
    &.sideBarShow {
      right: 0px;
    }
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;
    gap: 0.8rem;
    align-items: center;
    width: 100%;
    padding: 10px 0;
  }
}
