.viewPanel {
  display: flex;
  justify-content: center;
  @media screen and (min-width: 970px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 600px) {
    display: block;
    max-width: 100vw;
    overflow: hidden;
  }
}

.homeContainer {
  width: 100%;
  transition: transform 0.2s;
  @media screen and (min-width: 970px) {
    width: 1150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  @media screen and (max-width: 600px) {
    width: 200vw;
    display: grid;
    grid-template-columns: 100vw 100vw;
    transform: none;
    &.showAnotherPanel {
      transform: translateX(-100vw);
    }
  }
}

.articleList {
  padding: 10px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1100px;
}
.sideBar {
  padding: 10px 10px 10px;
  display: flex;
  flex-direction: column;
  flex: none;
  align-items: center;
  gap: 10px;
  width: 300px;
  transition: all 0.2s;
  @media screen and (min-width: 600px) and (max-width: 970px) {
    position: fixed;
    top: 280px;
    right: -100%;
    height: 400px;
    overflow: auto;
    background-color: var(--color-background_global);
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.1);
    &::-webkit-scrollbar {
      width: 0px;
    }
    &.sideBarShow {
      right: 15px;
    }
  }
  @media screen and (max-width: 600px) {
    padding: 10px 0;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
