.item {
  padding: 1px 3px;
}

.h3_ulist {
  list-style-type: none;
  padding: 0 5px 0 1em;
  line-height: 20px;
}
.h3_item {
  padding: 2px 2px;
}

/* TODO article index
*/
.anchor {
  text-decoration: none;
  color: var(--color-font_link__default);
  &:hover {
    color: var(--color-font_link__default__hover);
  }
  &.selected {
    color: -webkit-link;
  }
}
