.menuNav {
  display: flex;
  height: 100%;
  width: 615px;
  font-family: var(--LXGW);
  transition: all 0.5s;
  .menuNavUl {
    transition: all 0.5s;
    display: inline-flex;
    overflow: hidden;
    gap: 15px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    .menuNavLi {
      transition: all 0.5s;
      display: flex;
      align-items: center;
      justify-content: center;
      flex: 0 0 auto;
      width: 90px;
      height: 100%;
      color: #27486e;
      gap: 15px;

      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #27486e;
        text-decoration: none;
        gap: 15px;
        &.selected {
          background: rgba(227, 223, 227, 0.8);
        }
      }
    }
  }
  &.foldMenuNav {
    .menuNavUl {
      opacity: 0;
      width: 0px;
    }
  }
}

.Panel {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 60px;
  height: 160px;
  width: 130px;
  transition: all 0.15s ease;
  opacity: 1;
  .triangleBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 5px;
  }
  &.PanelOut {
    height: 0px;
    overflow: hidden;
    opacity: 0;
  }
  .collaspe {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    width: calc(100%);
    height: calc(100% - 25px);
    padding: 10px 0;
    margin: 0;
    border-radius: 10px;
    background: rgba(243, 238, 242, 1);
    li {
      display: flex;
      width: 100%;
      height: 45px;
      gap: 15px;
      justify-content: center;
      align-items: center;
      a {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        color: #27486e;
        text-decoration: none;
        gap: 15px;
        &.selected {
          background: rgba(227, 223, 227, 0.8);
        }
      }
    }
  }
}
