.des {
  position: relative;
  z-index: -2;

  height: 60px;
  margin: 0 0 5px 0;

  background-color: var(--color-background_global);
  @media screen and (max-width: 770px) {
    height: 55px;
    margin: 0;
  }
  @media screen and (max-width: 600px) {
    height: 48px;
    margin: 0;
  }
}

html[data-theme="dark"] .topBarContainer {
  box-shadow: 2px 4px 8px 0px rgba(0, 0, 0, 0.8);
}

.topBarContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 100vw;
  height: 65px;

  box-shadow: 2px 4px 8px 0px rgba(81, 81, 81, 0.2);
  backdrop-filter: blur(8px);

  transition: height 0.15s, gap 0.15s;

  user-select: none;
  @media screen and (max-width: 770px) {
    gap: 20px;
    justify-content: flex-start;
    height: 55px;
  }
  @media screen and (max-width: 600px) {
    gap: 0px;
    justify-content: space-between;
    height: 48px;
  }

  .topBarTitle {
    padding: 0 0 0 10px;

    font-size: 48px;
    font-family: var(--luxuriousScript);

    transition: font-size 0.15s;
    @media screen and (max-width: 770px) {
      font-size: 36px;
    }
    @media screen and (max-width: 600px) {
      font-size: 32px;
    }
  }
}

.topBarMenu {
  z-index: 10;

  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: center;
  justify-content: center;
  margin: 0px;
  padding: 0 50px 0 0;

  font-weight: bold;

  font-size: 24px;

  list-style-type: none;

  transition: gap 0.15s, padding 0.15s;

  user-select: none;
  @media screen and (max-width: 770px) {
    gap: 12px;
    padding: 0px;

    font-size: 20px;
  }
  @media screen and (max-width: 600px) {
    &.topMenu {
      display: none;
    }
    position: fixed;
    top: 48px;
    right: 0;

    height: 0;
    padding: 0;

    visibility: hidden;
  }
  li {
    display: flex;
    a {
      color: var(--color-font_default);
      text-decoration: none;

      transition: color 0.15s;
      &:hover {
        color: var(--color-font_link__hover);
      }
    }
    span {
      display: inline-block;
      width: 2px;
      height: 22px;

      background-color: var(--color-splite-line);
    }
  }
}

// styles about ex-menu
.topBarMenu {
  @media screen and (min-width: 601px) {
    &.exMenu {
      display: none;
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 0;
    overflow: hidden;

    backdrop-filter: blur(6px);

    transition: height 0.15s, visibility 0s 0.15s;
    &.collapseMenu {
      width: 100vw;
      height: calc(var(--items) * 42px - 54px);
      padding: 5px 0;

      visibility: visible;

      transition: height 0.15s, visibility 0s 0s;
      li.menuItem {
        flex: none;

        line-height: 1.5;
        &.spliteLine {
          display: none;
        }
      }
    }
  }
}

/*
  Menu Icon
*/
@media screen and (max-width: 600px) {
  .Iconcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0 10px 0 0;
  }

  .menuIcon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 80%;

    cursor: pointer;
    .line {
      width: 100%;
      height: 18%;

      background-color: var(--color-font_default);
      transform: rotate(0) scaleX(1);
      transform-origin: center left;
      opacity: 1;

      transition: transform 0.3s, opacity 0.3s;
    }
    &.closeIcon {
      .line:nth-child(1) {
        transform: rotate(45deg) scaleX(0.96);
      }
      .line:nth-child(2) {
        transform: translateY(20px);
        opacity: 0;
      }
      .line:nth-child(3) {
        transform: rotate(-45deg) scaleX(0.96);
      }
    }
  }
}
