.tag {
  width: 100%;
  .tagTitle {
    line-height: 1.5rem;
    a {
      color: var(--color-font_link__default);
      font-size: 1rem;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .tagList {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;

    font-size: 0.9375rem;
    line-height: 1.25rem;
    text-indent: 0.5rem;
    .tagItem {
      display: inline-block;

      color: var(--color-font_link__tag);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
