.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 60px;
  background: var(--color-background_avatar);

  @media screen and (max-width: 600px) {
    height: 40px;
  }

  .input {
    width: 300px;
    height: 32px;
    padding: 0 15px;
    border: none;
    border-radius: 15px;
    font-size: 18px;
    background: var(--color-input_default);
    @media screen and (max-width: 600px) {
      width: 180px;
      height: 24px;
      padding: 0 10px;
      border-radius: 12px;
      font-size: 15px;
    }
    &:focus-visible {
      outline: none;
      background: var(--color-input_default__focus);
      border: none;
    }
  }
  .button {
    border: none;
    font-size: 18px;
    background-color: transparent;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      font-size: 15px;
    }
  }
  .expend {
    position: absolute;
    font-size: 15px;
    float: right;
    right: 20px;
  }
}

.filterPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px 0 5px;
  box-shadow: 1px 2px 4px 0px var(--color-shadow_default);
  @media screen and (min-width: 600px) {
    margin: 0 0 10px;
  }
  .filterLine {
    display: flex;
    justify-content: flex-start;
    width: 88%;
    max-width: 1100px;
    gap: 20px;
    .filterTitle {
      font-size: 18px;
      width: fit-content;
      font-weight: bold;
      flex: none;
      @media screen and (min-width: 600px) {
        font-size: 24px;
      }
    }
    .selectors {
      align-items: center;
      font-size: 16px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      @media screen and (min-width: 600px) {
        font-size: 18px;
        gap: 15px;
      }
    }
    @media screen and (min-width: 600px) {
    }
  }
}

/* TODO tag Selected
*/
.selected {
  color: aquamarine;
}
