.yearTitle {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 26px;
  font-weight: bold;
  transition: font-size 0.15s;
  @media screen and (max-width: 460px) {
    font-size: 24px;
  }
  .yearCircle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    border: #000 6px solid;
    background: #fff;
    @media screen and (max-width: 460px) {
      transform: scale(0.9) translateY(-3.6px);
    }
    .triAngel {
      width: 19.2px;
      height: 19.2px;
      background: #000;
      clip-path: polygon(3.2px 4.6976px, 16px 4.6976px, 9.6px 15.7824px);
    }
  }
}

.monthTitle {
  display: flex;
  font-size: 20px;
  margin: 10px 0 10px;
  align-items: center;
  gap: 25px;
  @media screen and (max-width: 460px) {
    font-size: 18px;
  }
  .monthCircle {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    left: 4.5px;
    width: 16px;
    height: 16px;
    background: #ffffff;
    border-radius: 50%;
    border: #000 5px solid;
    @media screen and (max-width: 460px) {
      transform: scale(0.9);
    }
    .selectedDots {
      height: 10px;
      width: 10px;
      border-radius: 50%;
      background: #000;
    }
  }
}

.articleItem {
  margin: 20px 0 20px;
  display: flex;
  align-items: flex-start;
  gap: 30px;
  .dotContainer {
    height: 22px;
    display: flex;
    align-items: center;
    .dots {
      position: relative;
      bottom: 8px;
      left: 10px;
      z-index: 2;
      width: 14px;
      height: 14px;
      background: #000;
      border-radius: 50%;
    }
  }
}

.article {
  display: inline-flex;
  width: 500px;
  border-radius: 0 15px 15px 15px;
  height: 150px;
  gap: 20px;
  background: #fff;
  transition: gap 0.15s, height 0.15s;
  box-shadow: 0px 4px 20px 5px rgba(190, 198, 209, 0.35);
  @media screen and (max-width: 560px) {
    gap: 10px;
  }
  @media screen and (max-width: 500px) {
    height: 129px;
  }
}

.descripImage {
  width: 150px;
  overflow: hidden;
  transition: width 0.15s;
  @media screen and (max-width: 560px) {
    width: 0;
  }
  img.articlePhoto {
    object-fit: cover;
    border-radius: 0 0 0 15px;
  }
}

.articleContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 15px 10px 10px;
  width: calc(100% - 170px);
  gap: 3px;
  @media screen and (max-width: 560px) {
    width: 100%;
  }

  .articleTitle {
    transition: font-size 0.15s;
    width: calc(100%);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 20px;
    margin: 0 0 3px 0;

    a {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }

    @media screen and (max-width: 410px) {
      font-size: 18px;
    }
    @media screen and (max-width: 376px) {
      font-size: 16px;
    }
  }

  .articleMessage {
    transition: height 0.15s, padding 0.15s;
    width: 100%;
    height: 21px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 500px) {
      height: 0;
      overflow: hidden;
    }
    .tags {
      display: inline-flex;
      gap: 10px;
    }
  }

  .author {
    font-size: 14px;
    font-style: italic;
    @media screen and (max-width: 376px) {
      font-size: 13px;
    }
  }
}

.date {
  width: 96%;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  transform: translateY(2px);
  font-size: 14px;
  font-style: italic;
  color: #5c5c5c;
  @media screen and (max-width: 376px) {
    font-size: 13px;
  }
}

.footer {
  margin: 3px 0 0 0;
  display: flex;
  justify-content: flex-end;
  height: 24px;
  width: 100%;
  a {
    display: flex;
    text-decoration: none;
    align-items: center;
    gap: 3px;
    &:hover {
      text-decoration: underline;
    }
    .angelTransform {
      transform: rotate(90deg);
    }
    @media screen and (max-width: 376px) {
      font-size: 14px;
    }
  }
}

.triAngelContainer {
  position: absolute;
  height: 14px;
  width: 14px;
  .triAngel {
    position: relative;
    left: 36px;
    height: 7px;
    width: 8px;
    clip-path: polygon(0px 2px, 8px 0px, 8px 7px);
    background: #fff;
    box-shadow: 0px 4px 20px 5px rgba(190, 198, 209, 1);
  }
}
