.animeCard {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  .animeMessage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    .animeTitle {
      font-size: 16px;
      font-weight: bold;
    }
    .animeType {
      font-size: 14px;
      color: var(--color-font__anime__describ);
    }
    .animeState {
      font-size: 14px;
      color: var(--color-font__anime__describ);
    }
  }
}
