.menuContainerHidden {
  position: fixed;
  z-index: 11;
  top: 0;
  left: calc(var(--menu-width) * -1);
  display: flex;
  flex-direction: column;
  width: var(--menu-width);

  height: 100vh;
  background: rgb(243, 238, 242);
  opacity: 0;
  transition: all 0.3s ease, left 0.3s ease;

  &.menuContainerDisplay {
    left: 0;
    opacity: 1;
  }
}

.muskHidden {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(33, 41, 49, 0);
  opacity: 0;
  transition: all 0.3s ease, width 0s 0.3s;

  &.muskDisplay {
    transition: all 0.3s ease, width 0s 0s;
    opacity: 0.6;
    background: rgba(33, 41, 49, 0.6);
    width: 100%;
  }
}

.menuHeader {
  margin: 0 0 20px;
  box-shadow: unset;
  .menuTop {
    height: 60px;
    width: 100%;
    transition: all 0.3s;
    cursor: pointer;
    &:hover {
      background: rgba(233, 228, 233, 0.8);
    }
  }
  .avator {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto;
    width: 100%;
    height: 120px;
    text-align: center;
    img {
      clip-path: circle(50%);
    }
  }

  .snsList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 20px;
    a {
      display: inline-block;
    }
  }
}

.menuContent {
  width: 100%;
  height: calc(100vh - 200px - 10px);
  padding: 10px 0 0;
  mask-image: linear-gradient(transparent 0%, #ffffff 10px, #ffffff 100%);
  overflow: auto;
  &::-webkit-scrollbar {
    width: 0px;
  }
  .menuList {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: flex-start;
    font-size: 25px;
    padding: 0;
    color: #27486e;
    font-weight: 700;
    .menuItem {
      display: flex;
      align-items: center;
      gap: 40px;
      width: calc(100% - 40px);
      height: 50px;
      padding: 0 0 0 40px;
      margin: 0;

      cursor: pointer;
      &:hover {
        background-color: aquamarine;
      }
      .angleIcon {
        transform: rotate(180deg);
        transition: all 0.3s ease;
        &.angleTurnLeft {
          transform: rotate(270deg);
        }
      }
      .menuItemLink {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
        width: 100%;
        height: 100%;

        text-decoration: none;
        color: #27486e;
      }
      span {
        display: inline-block;
        width: 120px;
      }
    }
    .collapseContainer {
      padding: 0 0 0 60px;
      width: calc(100% - 60px);
      height: 200px;
      overflow: hidden;
      transition: all 0.3s;
      &.collapseClose {
        height: 0;
        opacity: 0;
      }
    }
  }
}
