.cardContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card2 {
  transition: all 0.15s;
  display: flex;
  padding: 0px 0px;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  height: fit-content;
  margin: 0;

  .description {
    padding: 10px calc(30px + 1em) 0px;
    display: -webkit-box; // 将对象作为弹性伸缩盒模型显示
    height: fit-content;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    min-height: 40px;
    max-height: 70px;
    width: calc(100% - 60px - 2em);

    text-indent: 1em;
    font-size: 16px;
    -webkit-line-clamp: 3; // 用来限制在一个块元素显示的文本的行数
    -webkit-box-orient: vertical; //设置或检查伸缩盒对象的子元素的排列方式
    text-overflow: ellipsis; // 在多行文本的情况下，用...隐藏超出范围的文本
    word-break: break-all;
    overflow: hidden;
    background: rgba(255, 255, 255);
    @media screen and (min-width: 850px) {
      height: 70px;
    }
  }
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px 25px 10px 35px;
  height: 150px;
  border-bottom: #000000 1px dotted;
  margin: 0 0 0;
  border-radius: 15px 15px 0px 0px;
  background: #ffffff;
  gap: 5px;

  .title {
    display: flex;
    align-items: flex-end;
    font-size: 28px;
    height: 74px;
    a {
      display: -webkit-box;
      height: fit-content;
      max-height: 74px;
      width: 100%;
      -webkit-line-clamp: 2; // 用来限制在一个块元素显示的文本的行数
      -webkit-box-orient: vertical;
      text-decoration: none;
      font-weight: 700;
      color:#000000;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .author {
    font-size: 14px;
    transform: translateX(6px);
    font-style: italic;
  }
}

.containerOfTagADate {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 440px) {
    display: flex;
    flex-direction: column;
  }
  .tag {
    font-size: 15px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    user-select: none;

    .tagContainer {
      transition: all 0.15s;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 1px 8px;
      width: fit-content;
      min-width: 30px;
      background: #f0f0f0;
      border-radius: 10px;
      text-decoration: none;
      cursor: pointer;
      color: black;
      &:hover {
        color: -webkit-link;
      }
    }
  }

  .date {
    display: inline-flex;
    font-style: italic;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 14px;
    transform: translateY(3px);
    cursor: text;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px 0px;

  width: calc(100% - 40px);
  height: 30px;
  background: #ffffff;
  border-radius: 0 0 15px 15px;
  a {
    user-select: none;
    text-decoration: none;
    color: #27486e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    &:hover {
      text-decoration: underline;
    }
    .cardAngel {
      transform: rotate(90deg);
    }
  }
}
