.tag {
  width: 100%;
  .tagTitle {
    line-height: 1.5rem;
    a {
      text-decoration: none;
      color: var(--color-font_link__default);
      font-size: 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .tagList {
    text-indent: 0.5rem;
    line-height: 1.25rem;
    font-size: 0.9375rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    .tagItem {
      display: inline-block;
      color: var(--color-font_link__tag);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
