.tagContainer {
  font-size: 15px;
  height: 19px;
  transition: all 0.15s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1px 8px;
  width: fit-content;
  min-width: 30px;
  background: #f0f0f0;
  border-radius: 10px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  &:hover {
    color: -webkit-link;
  }
}
