html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  &::-webkit-scrollbar {
    width: 6px; /* 设置滚动条宽度 */
  }
  &::-webkit-scrollbar-thumb {
    background-color: #ccc; /* 设置滚动条颜色 */
    border-radius: 3px; /* 设置滚动条圆角 */; /* 沿 x 轴向左移动 10px */
    z-index: 10;
  }
}

:root {
  --menu-width: 300px;
}

.toc {
  float: right;
}
