.friendLink_container {
  width: calc(100% - 10vw - 1.5rem);
  max-width: calc(1100px - 1.5rem);
  padding: 1rem 0.625rem;
  @media screen and (max-width: 600px) {
    width: calc(100% - 8vw - 00.625rem);
    padding: 0.5rem 0.3125rem;
  }
}

.friendLink_title {
  font-weight: bold;
  font-size: 1.625rem;
  @media screen and (max-width: 600px) {
    font-size: 1.25rem;
  }
  @media screen and (max-width: 600px) {
    width: calc(100% - 8vw);
  }
  &::after {
    display: block;
    width: 100%;
    height: 0.0625rem;
    margin: 0.5rem 0 0 0;

    background-color: var(--color-border_title);

    content: "";
  }
}

.friendLink_linkList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
